* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #C7A183;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */

}

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #996A51; */
    background-color: #3F0113;
    box-shadow:0px 6px 20px 0px #610b23;

}

ul {
    display: flex;
    gap: 10px;
    align-items: center;
}

ul li {
    list-style: none;
    padding: 0px 20px 0px 20px;
    /* gap: 20px; */
    font-size: 1.5rem;

}

ul a {
    text-decoration: none;
    /* color: #3F0113; */
    color: white;
    /* transform: scale(1.5); */
    transition: transform 1s ease-in-out;

}
ul a :hover{
    transform: scale(1.2);
}

#logo {
    padding: 20px;
    font-size: 2rem;
    font-weight: 400;
    /* color: #3F0113; */
    color: white;

}

#auth {
    padding: 10px 15px 10px 15px;
    align-items: center;
    margin: 20px;
    font-size: 1.3rem;
    border: 1px solid rgb(209, 141, 63);
    border-radius: 10px;
    /* color: #3F0113; */
    color: #3F0113;

    background-color: bisque;
}

/* .drop-down{
    display: none;
    position: relative;
    top: 105px;
    background-color: #610b23;
    border-radius: 10px;
    color: white;
    right: 150px;
    z-index: 999;
    padding: 5px;
    align-items: flex-start;
    
}
.toggle{
    display: block;
} */
 .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none; 
  position: absolute;
  top: 30px;
  left: 10px;
  background-color: #610b23;
  /* min-width: 160px; */
  width: 105px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  width: 100px;
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
  color: white;
}


#sec-1 {
    display: flex;
    position: relative;
    /* justify-content: space-between; */
    margin: 100px;
}

#sec-1-l {
    font-size: 4rem;
    line-height: 90px;
    position: absolute;
    /* Positions the text relative to the container */
    top: 50%;
    /* Starts the text at the vertical midpoint */
    left: 50%;
    /* Starts the text at the horizontal midpoint */
    transform: translate(-50%, -50%);
    color: white;
    /* Styles the text for readability */
    /* font-size: 20px; */
    font-weight: bold;
    /* text-align: center; */
    /* Add a background color for better readability on various image types */
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    /* opacity: 1; */
    z-index: 999;

}

#sec-1-img {
    width: 100%;
    opacity: 0.9;

    /* height: 400px; */
}

#sec-2 {
    display: flex;
    flex-wrap: wrap;
    /* position: relative; */
    justify-content: space-evenly;
    margin: 50px;
}

.card {
    border-radius: 16px;
    background-color: white;
    height: 358px;
    width: 400px;
    position: relative;
    margin: 20px 0px 20px 0px ;
    padding: 20px 20px 0px 20px;

}

.card-img {
    max-width: 100%;
    /* margin: 20px; */
    /* border: 1px solid red; */
    height: 250px;
}
.card-img img{
    width: 100%;
    /* height:auto; */
    height:250px;
    /* object-fit: contain; */
    display: block;
}
h4{
    padding-top: 8px;
    font-size: 20px;
    

}
.card p{
    font-size: 20px;
    padding-top: 5px;
}

footer{
        /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
background-color: #3F0113;
    display: flex;
    flex-direction: column;
    padding: 60px;
    gap: 20px;
    justify-content: space-around;
}

.footer-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-course {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
.footer-course ul{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.footer-course ul li{
    font-size: 1.3rem;
padding: 0;
}

.quick-links {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
.quick-links ul{
    align-items: flex-start;
    display: flex;
    flex-direction: column;

}
.quick-links ul li{
padding: 0;
    font-size: 1.3rem;
/* font-weight: 600; */


}

.social-links{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
/* font-weight: 400; */

}
.social-links ul{
    align-items: flex-start;

    display: flex;
    flex-direction: column;
}
.social-links ul li{
    font-size: 1.3rem;
    padding: 0;
}

h5{
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.footer-grey{
    display: flex;
    justify-content: space-between;
}


.main-course{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 100px 100px 100px ;
    background-color: #996A51;
    padding: 50px;
    border-radius: 16px;
}
.i-frame{
    margin: 50px;
}



.more-courses{
    background-color: #610b23;
    width: 100%;
border-radius: 16px;
    padding: 20px;
    margin-bottom: 100px;
}

.more-courses ul{

display: flex;
flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;

}

.more-courses ul li{
    list-style:auto;
    padding: 0;
}


form{
    margin: 100px 300px 100px 300px;
    background-color: #996A51;
    padding: 50px;
}

form input{
    padding: 10px;
    margin: 10px;
    width: 100%;
}
form input ::placeholder{
    color: rgb(248, 59, 59);
    
}
form textarea{
    padding: 10px;
    margin: 10px;
    width: 100%;
}

form h3{
    color: #610b23;
}