* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #C7A183;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */

}

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #996A51; */
    background-color: #3F0113;
    box-shadow:0px 6px 20px 0px #610b23;

}

ul {
    display: flex;
    gap: 10px;
    align-items: center;
}

ul li {
    list-style: none;
    padding: 0px 20px 0px 20px;
    /* gap: 20px; */
    font-size: 1.5rem;

}

ul a {
    text-decoration: none;
    /* color: #3F0113; */
    color: white;

}

#logo {
    padding: 20px;
    font-size: 2rem;
    font-weight: 400;
    /* color: #3F0113; */
    color: white;

}

#auth {
    padding: 10px 15px 10px 15px;
    align-items: center;
    margin: 20px;
    font-size: 1.3rem;
    border: 1px solid rgb(209, 141, 63);
    border-radius: 10px;
    /* color: #3F0113; */
    color: #3F0113;

    background-color: bisque;
}

#sec-1 {
    display: flex;
    position: relative;
    /* justify-content: space-between; */
    margin: 100px;
}

#sec-1-l {
    font-size: 4rem;
    line-height: 90px;
    position: absolute;
    /* Positions the text relative to the container */
    top: 50%;
    /* Starts the text at the vertical midpoint */
    left: 50%;
    /* Starts the text at the horizontal midpoint */
    transform: translate(-50%, -50%);
    color: white;
    /* Styles the text for readability */
    /* font-size: 20px; */
    font-weight: bold;
    /* text-align: center; */
    /* Add a background color for better readability on various image types */
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    /* opacity: 1; */
    z-index: 999;

}

#sec-1-img {
    width: 100%;
    opacity: 0.9;

    /* height: 400px; */
}

#sec-2 {
    display: flex;
    flex-wrap: wrap;
    /* position: relative; */
    justify-content: space-between;
    margin: 100px;
}

.card {
    border-radius: 16px;
    background-color: white;
    height: 350px;
    width: 300px;
    position: relative;
    margin: 20px;
    padding: 20px 20px 0px 20px;

}

.card-img {
    width: 100%;

    /* margin: 20px; */
    border: 1px solid red;
    height: 250px;
}

h4{
    padding-top: 8px;
    font-size: 20px;
    

}
.card p{
    font-size: 20px;
    padding-top: 5px;
}

footer{
        /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
background-color: #3F0113;
    display: flex;
    flex-direction: column;
    padding: 60px;
    gap: 20px;
    justify-content: space-around;
}

.footer-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-course {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
.footer-course ul{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.footer-course ul li{
    font-size: 1.3rem;
padding: 0;
}

.quick-links {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
.quick-links ul{
    align-items: flex-start;
    display: flex;
    flex-direction: column;

}
.quick-links ul li{
padding: 0;
    font-size: 1.3rem;
/* font-weight: 600; */


}

.social-links{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
/* font-weight: 400; */

}
.social-links ul{
    align-items: flex-start;

    display: flex;
    flex-direction: column;
}
.social-links ul li{
    font-size: 1.3rem;
    padding: 0;
}

h5{
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.footer-grey{
    display: flex;
    justify-content: space-between;
}