*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(236, 195, 118, 0.76);
}

nav{
    height:50px;

}
ul{
    display: flex;
    gap: 10px;
}
ul li{
    text-decoration: none;
}